.profit {
    width: 100%;
    height: auto;
    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block1 {
        color: white;
        width: 50%;
        .titleFront {
            margin-bottom: 35px;
            margin-top: 6px;
            font-size: 46px;
            line-height: 50px;
            letter-spacing: 0.1em;
        }
        .myOption {
            letter-spacing: 0.3em;
        }
    }
    &__block2 {
        width: 500px;
        height: 500px;
        background-image: url(../../../images/Right.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

@media(max-width: 923px) {
    .profit {
        padding: 15px;
        &__block2 {
            width: 400px;
            height: 400px;
        }
    }
}

@media(max-width: 730px) {
    .profit {
        &__block1 {
            width: 80%;
        }
        &__inner {
            display: block;
        }
    }
}

@media(max-width: 450px) {
    .profit {
        &__block2 {
            width: 300px;
            height: 300px;
        }
        &__block1 {
            .titleFront {
                font-size: 33px;
                letter-spacing: 0.1em;
            }
        }
    }
}