.about {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    &__container {
        display: flex;
        align-items: center;
        column-gap: 60px;
        padding: 15px;
        max-width: 1200px;
        margin: 0 auto;
        height: auto;
        border: 1px solid rgba(211, 211, 211, 0.311);
        border-radius: 20px;
    }
    &__icon {
        width: 450px;
        height: 600px;
        background-image: url(../../images/Vladislav.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 20px;
    }
    &__myself {
        color: white;
        width: 50%;
        p {
            font-size: 38px;
            font-weight: bold;
        }
    }
    &__text {
        p {
            margin-top: -20px;
            margin-bottom: 35px;
            line-height: 21px;
            font-size: 17px;
            font-weight: normal;
            letter-spacing: 0.1rem;
        }
    }
    &__img {
        display: none;
    }
    &__btn>button {
        width: 115px;
        height: 37px;
        border-radius: 6px;
        border: linear-gradient( 0deg, #afaac8, #2c3bde);
        outline: none;
        background-color: rgb(57, 54, 224);
        box-shadow: 0px 10px 15px 0px rgba(6, 7, 20, 1);
        font-weight: 500;
        font-size: 14px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    &__btn>button:hover {
        transition: 0.3s;
        opacity: 0.8;
    }
}

@media(max-width: 984px) {
    .about {
        padding: 10px;
        &__container {
            column-gap: 40px;
        }
        &__icon {
            width: 400px;
        }
    }
}

@media(max-width: 843px) {
    .about {
        &__container {
            display: block;
        }
        &__myself {
            width: 100%;
        }
        &__icon {
            display: none;
        }
        &__img {
            display: block;
            text-align: right;
            float: right;
            width: 200px;
            height: 300px;
            border-radius: 20px;
            margin: 10px 10px 4px 4px;
        }
    }
}